<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="../assets/Raindrops.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->

<div class="content">
  <div class="inner-container">{{ currTime }}

    <div style="width: 400px; padding-left: 25px;">
      <a class="weatherwidget-io" href="https://forecast7.com/en/31d32n85d86/enterprise/?unit=us" data-icons="Climacons Animated" data-label_1="ENTERPRISE" data-label_2="WEATHER"
        data-font="Open Sans" data-theme="dark" data-basecolor="rgba(0,0,0,0.0)">ENTERPRISE WEATHER</a>
    </div>
  </div>


</div>